* {
  margin: 0px;
  padding: 0px;
}

/* selecting root div of react see - public/index.html */
#root {
  min-height: 99vh;
  position: relative;
}

:root {
  --primary-green: 105, 240, 174;
  --primary-light-green: 153, 230, 0;
  /* --primary-very-light-green: 178, 251, 220; */
  --primary-very-light-green: 160, 248, 202;
  --primary-green-yellow: 118, 255, 3;
  /* --primary-blue: 24, 144, 255;  */
  /* --primary-dark-blue: 36, 48, 83; */
  /* --secondry-blue: 49, 112, 126; */
  /* --secondry-dark-blue:17, 45, 50;  */
  --primary-green: 58, 175, 3;
  /* --primary-dark:104, 118, 132; */
  --primary-white: 250, 250, 250;
  --primary-grey: 240, 240, 240;
  --primary-yellow: 255, 233, 0;
  --primary-green-yellow: 154, 205, 50;
  --primary-orange: 222, 102, 0;
  --primary-red: 255, 74, 74;
  --primary-grey-1: 108, 117, 125;
  --primary-grey-2: 33, 37, 41;
  --primary-grey-3: 50, 54, 58;
  --secondry-grey-1: 238, 238, 238;
  --secondry-grey-2: 221, 221, 221;

  --space-from-top: 85px;

  /* fullcalendar override */
  --fc-border-color: rgba(var(--primary-grey-1), 0.9);
  --fc-neutral-bg-color: rgba(08, 08, 08, 0);
  /* --fc-neutral-text-color: #808080; */
  --fc-neutral-text-color: #000;
  /* --fc-today-bg-color: rgba(255, 220, 40, 0.15); */
  --fc-today-bg-color: rgba(var(--primary-light-green), 0.4);
}


a {
  text-decoration: none !important;
  color: black !important;
}

/* Bootstrap override */
.form-control {
  font-size: 1.6rem;
}

.form-control:focus {
  border-color: rgb(var(--primary-light-green));
  box-shadow: 0 0 0 0.2rem rgba(var(--primary-light-green), 0.5);
}

/* General */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}


/* typography */
h1 {
  font-size: 5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

h2 {
  font-size: 4rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

h3 {
  font-size: 2.8rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

.gradient {
  background-image: linear-gradient(to right, rgb(var(--primary-green)), 40%, rgb(var(--primary-blue)));
  color: transparent;
  font-weight: 900 !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 0;
}

h4 {
  font-size: 2.2rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
}

h5 {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
}

fieldset {
  border: none;
  outline: none;
}

button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background: #FFF;
  border: 1px solid #D5D9D9;
  font-size: 1.8rem;
  height: auto;
  padding: 1rem 2rem;
  width: auto;
  text-align: center;
  font-weight: 400;
  color: #0F1111;
}

button:hover {
  background-color: #F7FAFA;
  border-color: #D5D9D9;
}

button.cta {
  background-color: rgb(var(--primary-green-yellow));
  color: white;
  border: none;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%), 0 4.8px 14.4px 0 rgb(0 0 0 / 18%);
}

button.cta:hover {
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}


/* Forms */
form.myform label {
  width: 100%;
  text-transform: uppercase;
}

form.myform input {
  font-size: 1.6rem;
}

form.myform input:invalid,
form.myform textarea:invalid {
  border: red solid 1px;
  box-shadow: none;
}

form.myform span {
  width: 100%;
  display: inline-block;
  color: red;
}

/* Loader */
#loader {
  position: fixed;
  z-index: -4;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: white;
  opacity: 0;
  justify-content: center;
  align-items: center;
  --loader-span-after-width: 25%;
  --loader-span-img-width: 10vw
}

#loader.show {
  z-index: 50000;
  opacity: 1;
}

#loader div {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

#loader div img {
  width: var(--loader-span-img-width);
  display: block;
  z-index: 1000;
}

#loader div span {
  width: var(--loader-span-img-width);
  height: 1rem;
  border-radius: 10px;
  border: 2px solid rgba(var(--primary-very-light-green), 255);
  display: block;
  position: relative;
  overflow: hidden;
}

#loader div span::after {
  content: "";
  left: calc(var(--loader-span-after-width) * -1);
  position: absolute;
  width: var(--loader-span-after-width);
  height: 0.8rem;
  display: block;
  background-color: rgb(var(--primary-very-light-green))
}

#loader.show div span::after {
  animation: move 1s ease-in-out infinite alternate;
}

@keyframes move {
  0% {
    left: calc(var(--loader-span-after-width) * -1);
  }

  100% {
    left: 100%;
  }
}

@media all and (max-width:992px) {
  #loader {
    --loader-span-after-width: 35%;
    --loader-span-img-width: 15vw
  }
}

@media all and (max-width:768px) {
  #loader {
    --loader-span-after-width: 45%;
    --loader-span-img-width: 20vw
  }
}

@media all and (max-width:576px) {
  #loader {
    --loader-span-img-width: 30vw
  }
}

/* Login Page */
#login {
  background-color: rgba(var(--primary-light-green), 0.6);
  display: flex;
  width: 100%;
  height: 100vh;
}

#login div {
  padding: 1rem;
}

#login div.left {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login div.left form {
  background-color: white;
  padding: 5rem;
}

#login div.left form div.encloser {
  display: flex;
}

#login div.left form:last-child {
  display: none;
}


#login div.right {
  background-image: url('https://venues.netlify.app/garden-background.jpg');
  background-size: cover;
  width: 55%;
  border-radius: 1.5rem;
  margin: 2rem;
}

/* Steps */
#steps {
  display: flex;
  height: 99vh;
  box-sizing: border-box;
  flex-direction: column;
}

#steps span.progress {
  position: absolute;
  top: 1px;
  background-color: rgba(var(--primary-green-yellow), 0.6);
  height: 10px;
  /* width: 100%; */
  display: inline-block;
  z-index: 10;
  transition: width 0.5s;
}

#steps div.navigation {
  position: absolute;
  bottom: 2px;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  width: 80%;
}

#steps div.navigation i {
  font-size: 5rem;
  padding: 2rem;
  z-index: 1;
}

#steps div.navigation i:hover {
  color: rgb(var(--primary-green-yellow));
  cursor: pointer;
}

#steps div.container div.row div.col-12 {
  max-height: 100vh;
}

#steps div.container div.step {
  /* animation-name: lefttoright; */
  animation-duration: 0.5s;
  visibility: visible;
  transform: translateX(0vw);
  animation-timing-function: ease-in;
}

#steps div.container div.step.righttoleft {
  animation-name: righttoleft;
}

#steps div.container div.step.lefttoright {
  animation-name: lefttoright;
  animation-duration: 0.5s;
}

@keyframes righttoleft {
  0% {
    transform: translateX(20vw);
    opacity: 0;
  }

  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}

@keyframes lefttoright {
  0% {
    transform: translateX(-15vw);
    opacity: 0;
  }

  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}

#steps div.container div.step {
  margin-top: 10rem;
}

#steps div.container div.step h2 {
  margin-bottom: 2rem;
}

#steps div.container div.step input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 0.6rem;
  border: none;
  border-bottom: 1px solid rgb(var(--primary-green-yellow));
  outline: none;
  font-size: 1.8rem;
}

#steps div.container div.step form span {
  color: rgb(231, 89, 89);
}

#steps div.container div.step.photos {
  max-height: 75%;
  overflow-y: scroll;
}

#steps div.container div.step.photos div.stepCropImages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#steps div.container div.step.photos div.stepCropImages img {
  width: 30%;
  height: auto;
  border: 1px solid rgb(var(--primary-grey-1));
}


#steps div.container div.step.photos input[type=text] {
  width: 68%;
  padding: 1rem;
  margin-bottom: 0.6rem;
  border: none;
  border-bottom: 1px solid rgb(var(--primary-green-yellow));
  outline: none;
  font-size: 1.8rem;
  align-self: center;
}

#steps div.container div.step.photos input[type=text].error {
  border-bottom: 1px solid rgb(var(--primary-red));
}

#steps div.container div.step.photos div.stepInputImage {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

#steps div.container div.step.photos div.stepInputImage input[type=file] {
  width: 30%;
  align-self: center;
}

#steps #cropModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 99vh;
  display: none;
  background-color: white;
}

#steps #cropModal.show {
  visibility: visible;
  z-index: 100;
  display: block;
}

#steps #cropModal div.cropperContainer {
  position: relative;
  height: 80%;
  width: 100%;
}


#steps div#cropModal div.controls {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#steps div#cropModal div.controls button {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  width: auto;
  height: auto;
  color: rgb(var(--primary-grey-3));
  border: 1px solid rgb(var(--primary-green));
}


#steps div.container div.step.features input[type=text].error {
  border-bottom: 1px solid rgb(var(--primary-red));
}

/* Editor */
#editor div.sidebar {
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  width: 20rem;
  right: 0;
  padding: 0;
}

#editor div.sidebar ul {
  justify-content: space-between;
}

#editor div.sidebar ul {
  border-bottom-color: rgb(var(--primary-green));
}

#editor div.sidebar ul li a.active {
  border-color: rgb(var(--primary-green));
  border-bottom-color: transparent;
}

#editor div.main {
  width: calc(100vw - 20rem);
  height: 100vh;
  position: fixed;
}

#editor div.main div.topnav {
  width: 100%;
  height: 3.6rem;
  border-bottom: 1px solid rgb(var(--primary-green));
  display: flex;
  justify-content: space-between;
}

#editor div.sidebar div.tab-content div {
  opacity: 1;
}

#editor div[class^="gjs-"] {
  font-size: 1.2rem;
}

#editor div.gjs-sm-sector-label {
  font-size: 1.5rem;
}

#editor .gjs-one-bg {
  background-color: rgb(255, 255, 255);
}

#editor .gjs-two-color {
  color: rgb(var(--primary-grey-2))
}

.gjs-three-bg {
  background-color: rgb(var(--primary-green-yellow));
  color: rgb(var(--primary-grey-3));
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
  color: rgb(var(--primary-green-yellow)) !important;
}


#editor .gjs-cv-canvas {
  width: 100%;
  height: 100% !important;
  top: 0;
}

#editor .panel__top {
  padding: 0;
  display: flex !important;
  /* justify-content: center; */
}

#editor .panel__top button {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  /* border: none; */
  box-shadow: none;
  border-radius: 0;
  height: 3.4rem;
  border-width: 2px;
  font-weight: 600;
  letter-spacing: 2px;
}

#editor div.gjs-pn-panel {
  position: relative;
}

/* ----- Queries ------ */
#queries {
  height: 99vh;
}

#queries div.container-fluid,
#queries div.container-fluid div.row {
  height: 100%;
}

div.leftpane {
  height: 100%;
  padding-top: 1vh;
  overflow-y: scroll;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

div.leftpane div.heading {
  text-align: center;
}

div.leftpane div.heading h3,
#queries div.rightpane div.heading h3 {
  text-transform: uppercase;
  width: 100%;
  background-color: rgba(var(--primary-light-green), 0.4);
  height: auto;
  padding: 1rem;
}

div.leftpane div ul {
  list-style-type: none;
}

div.leftpane div ul li {
  padding: 1rem;
  border-bottom: 1px solid rgb(var(--primary-grey));
  font-size: larger;
}

div.leftpane div ul li span:hover {
  color: rgb(var(--primary-green-yellow));
}

#queries div.rightpane {
  height: 100%;
  padding-top: 1vh;
  overflow-y: scroll;
}

#queries div.rightpane div.accordion {
  width: 90%;
  margin: 0 auto;
  margin-top: 1.6rem;
}

#queries div.rightpane div.accordion div.card {
  /* border: none; */
  margin-bottom: 1.6rem;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  padding-bottom: 0;
  padding-top: 0.5rem;
}

#queries div.rightpane div.accordion div.card div.card-header {
  background-color: white;
  padding-bottom: 1.5rem;
}

#queries div.rightpane div.accordion div.card div.card-header h2 {
  background-color: rgba(0, 0, 0, 0.03);
}

#queries div.rightpane div.accordion div.card div.card-header h2:hover,
#queries div.rightpane div.accordion div.card div.card-header h2 button:hover,
#queries div.rightpane div.accordion div.card div.card-header h2 button:not(.collapsed),
#queries div.rightpane div.accordion div.card div.card-header h2:has(button:not(.collapsed)) {
  background-color: rgb(var(--primary-green-yellow), 0.1);
}

#queries div.rightpane div.accordion div.card div.card-header h2 button {
  font-size: large;
}

#queries div.rightpane div.accordion div.card div.card-body div.queries div.entry div:nth-child(2) {
  padding: 1.2rem;
  margin: 1rem;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  color: rgb(var(--primary-grey-2));
}

#queries div.rightpane div.accordion div.card div.card-body hr {
  border-top-width: 2px;
  border-top-color: rgba(0, 0, 0, 0.25);
  margin: 0;
}

#queries div.rightpane div.accordion div.card div.card-body div.action {
  background-color: rgba(var(--primary-light-green), 0.1);
}

#queries div.rightpane div.accordion div.card div.card-body div.action textarea {
  margin: 1rem;
  width: 98%;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 7px;
}


/* ----- Events ------ */
#events {
  height: 99vh;
}

#events div.container-fluid,
#events div.container-fluid div.row {
  height: 100%;
}

#events div.leftpane div:nth-child(2) ul li {
  width: 100%;
  display: inline-block;
  overflow-x: hidden;
  padding-bottom: 0;
}

#events div.leftpane div:nth-child(2) ul li span {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

#events div.col-9 {
  overflow-y: scroll;
  height: 99vh;
}

#events #calendar {
  width: 100%;
  height: auto;
  /* max-width: 100rem; */
  margin-top: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.08);
  padding: 1rem;
  background-color: rgba(var(--primary-green-yellow), 0.01);
}

#events #calendar div.calHeader {
  margin-bottom: 1rem;
  background-color: rgba(var(--primary-green-yellow), 0.2);
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#events #calendar div.calHeader select.custom-select {
  width: 8rem;
  font-size: 1.8rem;
  box-shadow: 2px 5px 0 rgb(213 217 217 / 20%);
  border-radius: 8px;
  /* overriding bootstrap defaults */
  vertical-align: bottom;
  height: 4.1rem;
}

#events #calendar div.calHeader button {
  font-size: 1.6rem;
  padding: 0.8rem 1.2rem;
  margin: 0 0.5rem;
}