html{
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar{
  width: 0;
  height: 0;
}

*{
  margin: 0px;
  padding: 0px;
}
/* selecting root div of react see - public//index.html */
#root { 
  min-height: 99vh;
  position: relative;
}

:root{
  --primary-green: 105,240,174;
  --primary-light-green:175,288,89;
  --primary-green-yellow:118,255,3;
  /* --primary-blue: 24, 144, 255;  */
  /* --primary-dark-blue: 36, 48, 83; */
  /* --secondry-blue: 49, 112, 126; */
  /* --secondry-dark-blue:17, 45, 50;  */
  --primary-green:58, 175, 169; 
  /* --primary-dark:104, 118, 132; */
  --primary-white: 250,250,250;
  --primary-grey:240, 240, 240;
  --primary-yellow: 255, 233, 0;
  --primary-green-yellow:154, 205, 50; 
  --primary-orange: 222, 102, 0;
  --primary-red: 255, 74, 74;
  --primary-grey-1: 108, 117, 125;
  --primary-grey-2:33, 37, 41;
  --primary-grey-3:50, 54, 58;
  --secondry-grey-1:238, 238, 238;
  --secondry-grey-2:221, 221, 221;

  --space-from-top:85px;
}


a{
  text-decoration: none !important;
  color: black !important;
}

/* General */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}


/* typography */
h1 {
  font-size: 5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

h2 {
  font-size: 4rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

h3 {
  font-size: 2.8rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

.gradient{
  background-image: linear-gradient(to right, rgb(var(--primary-green)) , 40% , rgb(var(--primary-blue)));
  color: transparent;
  font-weight: 900 !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 0;
}

h4{
  font-size: 2.2rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
}

h5{
  font-size:1.8rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
}

fieldset{
  border: none;
  outline: none;
}


/* Forms */
form.myform label{
  width: 100%;
  text-transform: uppercase;
}

form.myform input{
  border:white solid 1px;
  overflow: none;
  padding : 0.2rem 0.5rem;
}

form.myform input:focus{
  border:blue solid 1px;
  overflow: none;
  outline: none;
}

form.myform input:invalid{
  border: red solid 1px;
}

form.myform span{
  width: 100%;
  display: inline-block;
  color:red;
}

/* Login Page */
#login {
  background-color: rgba(var(--primary-light-green),0.6);
  display: flex;
  width: 100%;
  height: 100vh;
}

#login div{
  padding: 1rem;
}

#login div.left{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login div.left form{
  background-color: white;
  padding: 5rem;
}


#login div.left form:last-child{
  display: none;
}


#login div.right{
  background-image: url('http://localhost:3000/garden-background.jpg');
  background-size: cover;
  width: 55%;
  border-radius: 1.5rem;
  margin: 2rem;
}

/* Steps */
#steps{
  display: flex;
  height: 99vh;
  box-sizing: border-box;
  padding-top:10vh;
  flex-direction: column;
}

#steps span.progress{
  position : absolute;
  top: 1px;
  background-color: rgba(var(--primary-green-yellow),0.6);
  height: 10px;
  /* width: 100%; */
  display: inline-block;
  z-index: 10;
  transition: width 0.5s;
}

#steps div.navigation{
  position: absolute;
  bottom: 2px;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  width: 80%;
}

#steps div.navigation i{
  font-size: 5rem;
  padding: 2rem;
}

#steps div.navigation i:hover{
  color: rgb(var(--primary-green-yellow));
  cursor: pointer;
}

#steps div.container div.step{
  /* animation-name: lefttoright; */
  animation-duration: 1s;
  visibility: visible;
  transform: translateX(5vw);
  animation-timing-function: ease-in;
}

#steps div.container div.step.righttoleft{
  animation-name: righttoleft;
}
#steps div.container div.step.lefttoright{
  animation-name: lefttoright;
  animation-duration: 0.5s;
}



@keyframes righttoleft {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(5vw);
  }
}

@keyframes lefttoright {
  0% {
    transform: translateX(-15vw);
  }
  100% {
    transform: translateX(5vw);
  }
}


/* Editor */
#editor div.sidebar{
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  width: 20rem ;
  right: 0;
  padding: 0;
}

#editor div.sidebar ul{
  justify-content: space-between;
}

#editor div.sidebar ul {
  border-bottom-color: rgb(var(--primary-green));
}
#editor div.sidebar ul li a.active{
  border-color:rgb(var(--primary-green));
  border-bottom-color: transparent;
}

#editor div.main{
  width: calc(100vw - 20rem);
  height: 100vh;
  position: fixed;
}

#editor div.main div.topnav{
  width: 100%;
  height: 3.6rem;
  border-bottom: 1px solid rgb(var(--primary-green));
  display: flex;
  justify-content: space-between;
}

#editor div.sidebar div.tab-content div{
  opacity: 1;
}

#editor div[class^="gjs-"]{
  font-size: 1.2rem;
}

#editor div.gjs-sm-sector-label{
  font-size: 1.5rem;
}

#editor .gjs-one-bg{
  background-color: rgb(255,255,255);
}

#editor .gjs-two-color{
  color: rgb(var(--primary-grey-2))
} 

.gjs-three-bg {
  background-color: rgb(var(--primary-green-yellow)); 
  color: rgb(var(--primary-grey-3));
} 

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
  color: rgb(var(--primary-green)); 
}


#editor .gjs-cv-canvas{
  width: 100%;
  height: 100% !important;
} 
  
#editor .panel__top {
  padding: 0;
  display: flex !important;
  /* justify-content: center; */
}

#editor div.gjs-pn-panel{
  position: relative;
}