div.tooltip,div.text{
    display: inline-block;
    width: 100%;
}
div.tooltip div.text{
    overflow-x: hidden;
}
div.tooltip{
    position: relative;
}
div.tooltip div.tooltiptext{
    visibility: hidden;
    position: absolute;
}
div.tooltip:hover div.tooltiptext{
    visibility: visible;
    z-index: 10;
    background-color: white;
    padding:2px 5px;
    display: inline-block;
    left: 0;
    top:5px;
    color:black;
}